<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idiotnation.raspored">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme.Light">

        <!-- ACTIVITIES -->

        <activity
            android:name="com.idiotnation.raspored.Views.IntroView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Views.MainView"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Views.ColorSetupView"
            android:screenOrientation="portrait"></activity>

        <!-- SERVICES -->

        <service
            android:name=".Modules.UpdateWidgetService"
            android:enabled="true"></service>

        <service
            android:name=".Modules.UpdateNotificationsService"
            android:enabled="true"></service>

        <!-- RECIEVERS -->

        <receiver android:name=".Recievers.NotificationReceiver" />

        <receiver android:name=".Recievers.ScreenUnlockReciever">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Recievers.OnBootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Widget.RasporedWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/raspored_widget_info" />
        </receiver>

    </application>

</manifest>
